#formdiv {
    border: 2px solid #0d47a1;
    border-radius: 15px;
    margin: 5px;
    max-height: fit-content;
    padding: 20px;
}
#formbutton {
    background: linear-gradient(135deg, rgba(39,128,227,1) 0%, rgba(102,16,242,1) 100%);
    border: 0px;
    border-radius: 15px;
    color: #f8f9fa;
    font-family: Roboto, sans-serif;
    font-size: medium;
    padding: 10px;
    float: right;
    width: 10%;
}
#forminput {
    border: 1px solid #868e96;
    padding: 10px;
    width: 80%;
}