@import url(https://fonts.googleapis.com/css?family=Montserrat);

:root {
    --lesson1color: #43a047;
    --lesson2color: #443fa2;
    --lesson3color: #ff3d00;
    --lesson4color: #f0ad4e;
}

table {
    table-layout: fixed;
    border-collapse: collapse;
    width: 100%;
}
tr th {
    width: calc((100% - 50px)/6);
}
tr th:nth-child(1) {
    width: 50px;
}

tr td:nth-child(1) {
    text-align: center;
}
tr td:nth-child(n+2) {
    vertical-align: top;
    font-size: 0.9rem;
    font-weight: 400;
    line-height: 1.5;
    color: #373a3c;
}

th {
    padding: 5px;
    font-family: Roboto, sans-serif;
}
td {
    font-family: Roboto, sans-serif;
    padding: 0;
}

table, th, td {
    border: 2px solid #a6d5fa;
}

#tablecaption {
    background: linear-gradient(90deg, rgba(39,128,227,1) 0%, rgba(102,16,242,1) 100%);
    font-family: Roboto, sans-serif;
    font-size: 30px;
    color: #f8f9fa;
    padding: 20px;
    border-radius: 10px;
}

.lesson_1 {
    border-left: 3px solid var(--lesson1color);
}

.lesson_2 {
    border-left: 3px solid var(--lesson2color);
}

.lesson_3 {
    border-left: 3px solid var(--lesson3color);
}

.lesson_4 {
    border-left: 3px solid var(--lesson4color);
}


.lessondiv {
    width: 100%;
    height: inherit;
    padding: 5px;
}

.weeksdiv {
    display: flex;
    width: 100%;
}

.weekprv {
    display: flex;
    flex-grow: 1;
    padding: 15px;
}
.weekcur {
    display: flex;
    flex-grow: 1;
    padding: 15px;
    justify-content: center;
}
.weeknxt {
    display: flex;
    flex-grow: 1;
    padding: 15px;
    justify-content: right;
}

.schedinfo {
    box-shadow: 0 1px 2px rgba(0, 0, 0, .1), 0 2px 4px rgba(0, 0, 0, .1), 0 2px 4px rgba(0, 123, 255, .15);
}

a {
    font-family: Montserrat;
    font-style: normal;
    font-size: 16px;
    line-height: 20px;
    font-weight: 550;
    letter-spacing: .05em;

    color: #2780e3;
    text-decoration: none;
}

.stafflink {
    font-size: 14px;
}