<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{{ title }}</title>
        <link rel="icon" type="image/png" href="{{ url_for('static', filename='favicon.png') }}">
        <link href="{{ url_for('static', filename='schedule_style.css') }}" rel="stylesheet" />
    </head>
    <body>
        <p><div id="tablecaption">{{ title }}</div></p>
        <table>
            <tr>
                <th>Время</th>
                {% for date in dates %}
                <th>{{ date }}</th>
                {% endfor %}
            </tr>
            {% for key, item in info.items() %}
            <tr>
                <td class="timecell">{{ key }}</td>
                {% for subject in item %}
                <td class="maincell">
                    {% for line in subject %}
                    {{ line }}<br>
                    {% endfor %}
                </td>
                {% endfor %}
            </tr>
            {% endfor %}
        </table>
    </body>
</html>