<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{{ info['title'] }}</title>
        <link rel="icon" type="image/png" href="{{ url_for('static', filename='favicon.png') }}">
        <link href="{{ url_for('static', filename='schedule_style.css') }}" rel="stylesheet" />
    </head>
    <body>
        <div class="timetable">
            <div class="infoblock"><h2>{{ info['title'] }}</h2></div>
            <div class="legend">
                <div class="legend-type-1">Лекция</div>
                <div class="legend-type-2">Лабораторная</div>
                <div class="legend-type-3">Практика</div>
                <div class="legend-type-4">Другое</div>
            </div>
            <div class="schednav">
                <div class="navigation">
                    <div class="week-nav">
                        <a class="week-nav-prev">
                            <img src="{{ url_for('static', filename='chevron-left.svg') }}" />
                            <img src="{{ url_for('static', filename='chevron-left-white.svg') }}" />
                            <span>{{ info['weeks'][0] }} неделя</span>
                        </a>
                        <div class="week-nav-current">{{ info['weeks'][1] }} неделя</div>
                        <a class="week-nav-next">
                            <span>{{ info['weeks'][2] }} неделя</span>
                            <img src="{{ url_for('static', filename='chevron-right-white.svg') }}" />
                            <img src="{{ url_for('static', filename='chevron-right.svg') }}" />
                        </a>
                    </div>
                    <div class="weekday-nav">
                        
                    </div>
                </div>
                <div class="schedule"></div>
            </div>
        </div>
    </body>
</html>