<!DOCTYPE html>
<html>
    <head>
        <title>Преподаватели</title>
        <link rel="icon" type="image/png" href="{{ url_for('static', filename='favicon.png') }}">
        <link href="{{ url_for('static', filename='staff_style.css') }}" rel="stylesheet" />
    </head>
    <body>
        <div class="staff_list">
            {% for name, id in staff.items() %}
            <div class="staff_item"><a href="/schedule?staffId={{ id }}">{{ name }}</a></div>
            {% endfor %}
        </div>
    </body>
</html>